<div class='center-align'>
    <h4>Favorite recipes (<%=@favorites.count%>)</h4>
    <div>
        <%= will_paginate %>
    </div>
    <%= render 'favorite', obj: @favorites %>
    <div>
        <%= will_paginate %>
    </div>
</div>