<div class='row'> 
  <div class='col s8 offset-s2 comment'>
    <div class='row left-align'>
      <p class='comment-author col m8 s12'> <%= comment.user.name %> </p> 
      <p class='comment-time col m4 s12 grey-text right-align'> <%= time_ago_in_words(comment.created_at)%> ago </p>
      <p class='comment-title col s12'> <%= comment.title %>: <em><%= comment.content %></em> </p>
    </div>
  </div>
  <div class='divider col s8 offset-s2'></div>
</div>