<ul>
  <% obj.each { |roaster| %>
    <div class='card'>
      <li class='center-align recipe'>
        <span class="title">
          <h5><%= link_to roaster.name, roaster_path(roaster)%></h5>
        </span>
        <% if roaster.country %> <p>Country: <%= roaster.country%></p><%else%><%end%>
      </li>
    </div>
  <% } %>
</ul>