<div class='col s12 l12 m12'>
    <h4>Listing all roasters (<%=@roasters.count%>)</h4>
    <div class='text-center'>
        <%= will_paginate %>
    </div>
    <%= render 'roaster', obj: @roasters %>
    <div class='text-center'>
        <%= will_paginate %>
    </div>
</div>