<div>
    <h4>Listing all roasters</h4>
    <div class='text-center'>
        <%= will_paginate %>
    </div>
    <%= render 'roaster', obj: @roasters %>
    <div class='text-center'>
        <%= will_paginate %>
    </div>
</div>