<ul>
  <% obj.each { |user| %>
    <div class='card'>
      <li class='center-align recipe'>
        <span class="title">
          <h5><%= link_to user.email, user_path(user) %></h5>
        </span>
      </li>
    </div>
  <% } %>
</ul>