<div>
    <h4>Listing all users (<%=@users.count%>)</h4>
    <div class='text-center'>
        <%= will_paginate %>
    </div>
    <%= render 'user', obj: @users %>
    <div class='text-center'>
        <%= will_paginate %>
    </div>
</div>