<div class="row home">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-image valign-wrapper">
                <%= image_tag("home.jpg", class: "responsive-img")%>
            </div>
        </div>
    </div>
</div>