<div class="row home">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-image valign-wrapper hide-on-med-and-down">
                <%= image_tag("home.jpg", class: "responsive-img")%>
            </div>
            <div class="card-image valign-wrapper hide-on-large-only">
                <%= image_tag("coffee.png", class: "responsive-img")%>
            </div>
        </div>
    </div>
</div>