<ul>
  <% obj.each { |bean| %>
  <div class='card col s8 m8 l8'>
    <li class='center-align recipe'>
      <span class="title">
        <h5><%= bean.roaster.name %>: <%= link_to bean.name, bean_path(bean)%></h5>
      </span>
      <p><%= truncate(bean.description, length: 50) %></p>
    </li>
  </div>
  <% } %>
</ul>