<div class='center-align'>
    <h4>Listing all coffees</h4>
    <div>
        <%= will_paginate %>
    </div>
    <%= render 'bean', obj: @beans %>
    <div>
        <%= will_paginate %>
    </div>
</div>