@import "materialize";

$break-small: 360px;

.nav-wrapper {
    margin-left: 10px;
}


@media screen and (max-width: $break-small) {
    .card-title {
        font-size: large !important;
    }
    .card-action {
        font-size: medium;
        text-align: left;
        font-weight: 100;
    }
    .btn {
        margin: 3px;
    }
    h4 {
        font-weight: 100;
        font-size: x-large;
    }
}

.recipe {
    padding: 15px;
    min-height: 350px;
    @media screen and (max-width: $break-small) {
        min-height: 100px;
        float: none;
        h5 {
            font-weight: 100;
            font-size: large
        }
    }
}

.favorite {
    padding: 15px;
    height: 150px;
}

.bean {
    height: 200px;
}

.roaster {
    padding: 15px;
    height: 150px;
}

.user {
    padding: 15px;
    height: 100px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer {
    padding-bottom: 20px;
    background-color: #ee6e73;
}

.comment {
    line-height: 0;
    @media screen and (max-width: $break-small) {
        p {
            text-align: left;
        }
    }
}