@import "materialize";

.nav-wrapper {
    margin-left: 10px;
}

.recipe {
    padding: 15px;
    height: 350px;
}

.favorite {
    padding: 15px;
    height: 150px;
}

.bean {
    height: 200px;
}

.roaster {
    padding: 15px;
    height: 150px;
}

.user {
    padding: 15px;
    height: 100px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer {
    padding-bottom: 20px;
    background-color: #ee6e73;
}
