<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Coffee Receips</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Receips</a></li>
            <li><a href="badges.html">Coffee</a></li>
            <li><a href="collapsible.html">Roasters</a></li>
            <li><%= link_to 'Users', users_path%></li>
            <li><a href="mobile.html">Account</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Receips</a></li>
    <li><a href="badges.html">Coffee</a></li>
    <li><a href="collapsible.html">Roasters</a></li>
    <li><a href="collapsible.html">Users</a></li>
    <li><a href="mobile.html">Account</a></li>
</ul>